<!DOCTYPE html>

<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title> Sobre Rails on Ruby </title>
</head>

<body>
 <h1> Pagina de sobre </h1> <br/>
 <p> Pagina de sobre. Para mais informações acesse <a href="http://www.railstutorial.org/book" target="_blank"> Clique aqui </a> </p>

</body>

</html>
