<!DOCTYPE html>

<html lang="pt-br">
<head>
  <title> Pagina de ajuda </title>
</head>

<body>
   <h1>Pagina de ajuda</h1>
   <p> Para mais informações acesse <a href="http://www.railstutorial.org/book" target="_blank"> Clique aqui </a> </p>
</body>


</html>
