<h1><center>Ruby on rails</center></h1>

<p> Seja bem vindo, <%= @user.name %></p>

<p>
  Estamos quase finalizando a ativacao da sua conta. Por favor, click no link abaixo para realizar a ativacao: 
</p>

<%= link_to "Ativar minha conta", edit_account_activation_url(@user.activation_token, email: @user.email) %>
