<h1>Alterar senha de acesso</h1>

<p>Para alterar sua senha acesso, por favor acesso o link abaixo:</p>

<%= link_to "Alterar senha", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Este link ira se expirar dentro de duas horas, sendo necessario realizar uma nova solicitacao</p>

