<!DOCTYPE html>

<footer class="footer">
  <small>
    Acesse <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Sobre",   about_path %></li>
      <li><%= link_to "Contato", contact_path %></li>
      <li><a href="http://news.railstutorial.org/" target="_blank">Novidades</a></li>
    </ul>
  </nav>
</footer>
